.et-db #et-boc .et-fb-modules-list li.daio_dual_color_heading,
.et-db #et-boc .et-fb-modules-list li.daio_fancy_heading, 
.et-db #et-boc .et-fb-modules-list li.daio_gf_styler, 
.et-db #et-boc .et-fb-modules-list li.daio_google_reviews, 
.et-db #et-boc .et-fb-modules-list li.daio_info_box, 
.et-db #et-boc .et-fb-modules-list li.daio_ba_slider,   {
  background: #525ddc;
  color: #fff;
  font-size: 11px;
}


.et-db #et-boc .et-fb-modules-list li.daio_dual_color_heading :hover,
.et-db #et-boc .et-fb-modules-list li.daio_dual_color_heading :active,
.et-db #et-boc .et-fb-modules-list li.daio_dual_color_heading :focus,

.et-db #et-boc .et-fb-modules-list li.daio_fancy_heading :hover,
.et-db #et-boc .et-fb-modules-list li.daio_fancy_heading :active,
.et-db #et-boc .et-fb-modules-list li.daio_fancy_heading :focus, 

.et-db #et-boc .et-fb-modules-list li.daio_gf_styler :hover,
.et-db #et-boc .et-fb-modules-list li.daio_gf_styler :active,
.et-db #et-boc .et-fb-modules-list li.daio_gf_styler :focus,

.et-db #et-boc .et-fb-modules-list li.daio_google_reviews :hover,
.et-db #et-boc .et-fb-modules-list li.daio_google_reviews :active,
.et-db #et-boc .et-fb-modules-list li.daio_google_reviews :focus,

.et-db #et-boc .et-fb-modules-list li.daio_info_box :hover,
.et-db #et-boc .et-fb-modules-list li.daio_info_box :active,
.et-db #et-boc .et-fb-modules-list li.daio_info_box :focus,

.et-db #et-boc .et-fb-modules-list li.daio_ba_slider :hover,
.et-db #et-boc .et-fb-modules-list li.daio_ba_slider :active,
.et-db #et-boc .et-fb-modules-list li.daio_ba_slider :focus {
  background: rgba(82, 93, 220, 0.8);
  color: #fff;
}