.daio-admin-page, .daio-admin-page * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.daio-admin-page { 
	min-height: 100vh;
	position: relative;
	font-size: 15px;
}

.daio-admin-page .daio-container {
  max-width: 100%;
  width: 750px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.daio-header {
	background-color: #f9fbff;
	text-align: center;
	padding: 20px 10px;
	box-shadow: 0 2px 0 #efefef, 0 2px 2px #ececec;
}

.daio-flex {
	-js-display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
}

.daio-admin-page .daio-title {
  float: left;
  max-width: calc(100vw - 170px);
}

.daio-admin-page .daio-title img {
  display: block;
  max-width: 100%;
  width: 200px;
  vertical-align: bottom;
}

.daio-admin-page .daio-title, 
.daio-admin-page .daio-title span {
  display: block;
  outline: none;
  box-shadow: none;
  font-size: 1.5rem;
  color: #333333;
  font-weight: 500;
}

.daio-admin-page .daio-title {
  display: flex;
  align-items: center;
	text-decoration: none;
}

.daio-admin-page .daio-title .daio-plugin-version {
  background-color: #e5e5e5;
  border-radius: 3px;
  font-size: 0.5em;
  font-weight: 400;
  margin-left: 10px;
  padding: 2px 7px;
  color: #333;
}

.daio-admin-page .daio-button {
	background: #509fe2;
	border: solid #2e7fbe;
	border-width: 1px 1px 2px;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
 	height: auto;
	font-weight: 400;
	padding: 6px 20px;
	text-decoration: none;
}

.daio-admin-page .daio-button:hover, 
.daio-admin-page .daio-button:focus {
	background-color: #509fe2;
	color: #fff;
}

.daio-admin-page .daio-header-right {
	flex: auto;
	text-align: right;
	font-weight: bold;
}

.daio-admin-page .daio-nav-bar { 
	width: 100%;
	background: #fff;
	border-top: 1px solid #d5e2ed;
	border-bottom: 1px solid #d5e2ed;
	padding: 0 10px;
}

.daio-admin-page .daio-nav-tab-link {
	text-decoration: none;
	padding: 17px 0 15px;
	border-bottom: 2px solid #fff;
	font-size: 15px;
	color: #393f4c;
	display: inline-block;
	margin-right: 25px;
	line-height: 1;
	outline: none;
	font-family: Lato,sans-serif;
}

.daio-admin-page .link-active {
	color: #509fe2;
	border-bottom-color: #509fe2;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;        
	font-weight: 700;
}

.daio-admin-page .daio-settings-content {
  display: none;
}

.daio-admin-page .active-content {
	display: block;
}

.daio-admin-page .daio-settings-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
}

.daio-admin-page .daio-settings-block {
	background: #fff;
	border: 1px solid #d6e2ed;
	margin: 25px 0;
}

.daio-admin-page .daio-settings-block-title {
	border-bottom: 1px solid #d6e2ed;
	padding: 16px 25px;
	font-weight: 500;
	font-size: 14px;
}

.daio-admin-page .daio-settings-block-content {
  padding: 25px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

.daio-admin-page .daio-checkbox {
	box-sizing: border-box;
  display: flex;
  flex: 0 0 300px;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0, .05);
  box-shadow: 0px 6px 20px 0px rgba(194,204,222,0.3);
}

.daio-admin-page .daio-checkbox label > span {
	vertical-align: middle;
}

.daio-admin-page .daio-separator {
  background: #d6e2ed;
  display: block;
  height: 1px;
  margin: 25px 0;
  width: 100%;
}


#footer-left .daio-no-text-decoration {
	text-decoration: none;
	color: #fdb72c;
	font-size: 20px;
}

.daio-admin-page .switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 40px;
}

.daio-admin-page .switch input {
  display:none;
}

.daio-admin-page .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.daio-admin-page .slider:before {
  background-color: #fff;
  bottom: 3px;
  content: "";
  height: 18px;
  left: 3px;
  position: absolute;
  transition: .3s;
  width: 18px;
}

.daio-admin-page input:checked + .slider {
  background-color: #509fe2;
}

.daio-admin-page input:checked + .slider:before {
  transform: translateX(16px);
}

.daio-admin-page .slider.round {
  border-radius: 24px;
}

.daio-admin-page .slider.round:before {
  border-radius: 50%;
}